/*************************/
/****** RESPONSIVE *******/
/*************************/
/**************************/
/* BELOW 1240px */
/**************************/
@media (max-width: 77.5em) {
  .about-developer img {
    margin-left: 3rem;
  }

  .hero-img img {
    margin-right: 3.2rem;
  }

  .about-section__content,
  .skill-column,
  .experience-card,
  .test-content,
  .email-phone,
  .experience-content,
  .hero {
    gap: 2.4rem;
    height: auto;
  }
}

/**************************/
/* BELOW 1040px */
/**************************/
@media (max-width: 65em) {
  .hero-img img {
    margin-left: 0;
  }

  .skill-item img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.6rem;
  }

  .learned-skills p,
  .future-skills p {
    font-size: 1.4rem;
  }

  .primary-navigation {
    gap: 1.6rem;
  }

  .text-about-developer ul {
    grid-template-columns: repeat(1, 0.4fr);
    line-height: 1.4;
  }

  .followIn__github {
    display: none;
  }

  .experience-content {
    width: 90%;
  }

  .skills-p,
  .ex-p,
  .test-p,
  .developer-intro,
  .email-phone {
    margin-bottom: 3rem;
  }

  .work-p {
    margin-bottom: -0.8rem;
  }

  .project-card {
    height: 81%;
  }

  .slider {
    height: 40rem;
  }

  .project-card__content,
  .testimonial-card,
  .project-card__image {
    padding: 2.4rem;
  }

  .testimonial-card h4 {
    text-align: center;
  }

  .contact-p {
    padding: 0 14rem;
  }

  .testimonial-card p {
    text-align: center;
  }
}

/**************************/
/* BELOW 900px */
/**************************/
@media (max-width: 56.25em) {
  .site-header__container {
    padding: 1.2rem 2.4rem;
  }
  .site-header__brand {
    font-size: 2.4rem;
  }
  .header-actions {
    gap: 1rem;
  }

  .primary-navigation__list {
    gap: 0;
  }
  .project-card {
    grid-template-columns: 1fr;
    border-radius: 1rem;
  }

  .testimonial-card {
    padding: 1.8rem;
  }

  .work-p {
    margin-bottom: -6rem;
  }

  .slider__btn {
    display: none;
  }

  .slider {
    height: 91rem;
  }

  .slide {
    height: 92rem;
  }

  .project-card__image {
    border-radius: 1rem;
  }

  .experience-content {
    width: 95%;
  }
}

@media (max-width: 50em) {
  .site-header__brand {
    font-size: 2rem;
  }

  .nav-link:link,
  .nav-link:visited {
    padding: 6px 8px;
  }
}

/**************************/
/* BELOW 752px */
/**************************/
@media (max-width: 47em) {
  .back-to-top {
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
  }

  .site-header__container {
    padding: 0.4rem 2rem;
  }
  .slider {
    height: 78rem;
  }

  .slide {
    height: 83rem;
  }
  .container {
    padding: 7rem 3.2rem;
  }
  .hero,
  .about-section__content,
  .project-card {
    grid-template-columns: 1fr;
  }

  .skills-grid {
    grid-template-columns: repeat(5, 0fr);
  }

  .experience-card {
    grid-template-columns: 1fr;
  }

  .test-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-img {
    justify-self: end;
  }

  .project-card__image {
    justify-self: center;
    border-radius: 1.2rem 1.2rem 0 0;
  }

  .right-image {
    border-radius: 0 0 1.2rem 1.2rem;
  }

  .about-img {
    margin-bottom: 2rem;
  }

  .test-3 {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }

  .project-card,
  .experience-content {
    width: 100%;
  }

  .contact-p {
    padding: 0 5rem;
  }

  .email,
  .phone {
    font-size: 3rem;
  }
  .mobile-menu-toggle {
    display: block;
    z-index: 9999;
  }

  .primary-navigation {
    background-color: var(--main-nav-bg);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .primary-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    flex-direction: column;
  }

  .header-actions .theme-toggle {
    display: none;
  }

  .site-header {
    position: relative;
  }

  .theme-toggle--mobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
  }

  .mobile-menu-toggle {
    position: relative;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .primary-navigation__list {
    flex-direction: column;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2rem;
  }

  .header-actions {
    flex-direction: column;
    gap: 2rem;
  }

  .separator {
    display: none;
  }
}

/**************************/
/* BELOW 624px */
/**************************/
@media (max-width: 39em) {
  html {
    font-size: 56.25%;
  }

  .container {
    padding: 6.4rem 3rem;
  }

  .hero-text {
    order: 2;
  }

  .hero-img,
  .about-developer {
    justify-self: center;
    margin-bottom: 3rem;
  }

  .hero-img img,
  .about-developer img {
    padding: 1rem;
  }

  .about-section__text h3 {
    margin-top: 0;
  }

  .hero-img img,
  .about-developer img {
    box-shadow: none;
    border: var(--hero-img);
    margin-right: 0;
    margin-left: 0;
  }

  .skills-grid {
    grid-template-columns: repeat(3, 0fr);
  }

  .work-p {
    margin-bottom: -5rem;
  }

  .test-content {
    grid-template-columns: 1fr;
  }

  .test-3 {
    width: auto;
  }

  .contact-p {
    padding: 0;
    font-size: 1.8rem;
  }

  .email,
  .phone {
    font-size: 2.4rem;
    gap: 1rem;
  }
}

/**************************/
/* BELOW 416px */
/**************************/
@media (max-width: 26em) {
  .container {
    padding: 6rem 2rem;
  }

  .hero__title {
    font-size: 4.4rem;
  }

  .hero-img img,
  .about-img img {
    width: 100%;
  }

  .project-card__content,
  .testimonial-card,
  .project-card__image,
  footer {
    padding: 2rem;
  }

  .experience-card {
    padding: 1.6rem;
  }

  .slider {
    height: 64rem;
  }

  .slide {
    height: 68rem;
  }

  .testimonial-card,
  .email-phone {
    gap: 2rem;
  }

  .email,
  .phone {
    font-size: 2rem;
  }

  .email img,
  .phone img {
    width: 2.4rem;
    height: 2.4rem;
  }

  footer p {
    text-align: center;
    line-height: 1.4;
  }

  .project-btn {
    padding: 0.4rem 1rem;
  }
}

/**************************/
/* BELOW 384px */
/**************************/
@media (max-width: 24em) {
  .container {
    padding: 5.2rem 1.6rem;
  }

  .site-header__brand {
    font-size: 1.8rem;
  }
  .slider {
    height: 63rem;
  }

  .slide {
    height: 66rem;
  }

  .icon-mobile-nav {
    height: 3.6rem;
    width: 3.6rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .skills-p,
  .ex-p,
  .test-p,
  .developer-intro,
  .email-phone {
    margin-bottom: 2rem;
  }

  .hero-img {
    margin-bottom: 2.4rem;
  }

  .about-section__content {
    margin-top: 3rem;
  }

  .hero-text,
  .about-section__text {
    text-align: center;
  }

  .location,
  .access,
  .hero__social-links {
    justify-content: center;
    gap: 0.4rem;
    margin-top: 1rem;
  }

  .about-section__text ul {
    display: inline-block;
    text-align: justify;
  }

  .skills-grid {
    gap: 4rem;
  }

  .email,
  .phone,
  .contact-p {
    font-size: 1.8rem;
    gap: 1rem;
  }
}

/**************************/
/* BELOW 304px */
/**************************/
@media (max-width: 19em) {
  .hero-img img,
  .about-developer img {
    width: 100%;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 0fr);
    gap: 4rem;
  }

  .email,
  .phone,
  .contact-p {
    font-size: 1.2rem;
  }
}
